* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: darkolivegreen;
}

canvas {
    /* max-width: 1024px;
    width: 100vw; */
    background-color: black;
    aspect-ratio: 16 / 9;
}